.advantages__title {
  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-text-color;
}

.advantages__item {
  list-style: none;

  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
}
