.advantages--wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.advantages__title {
  margin: 0 0 42px 0;
  padding: 20px 20px 0 0;

  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
    padding: 0 30px 0 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 183px 0;
    padding: 0 110px 0 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  margin: 0;
  padding: 0 0 55px 0;
  list-style: none;

  counter-reset: advantages;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 54px;
    row-gap: 37px;
    margin-bottom: 47px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 75px;
    margin-bottom: 126px;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 20px 0 80px;

  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 43px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      top: -110px;
    }
  }

  counter-increment: advantages;

  &::before {
    @media (min-width: $tablet-width) {
      content: counter(advantages);
      position: absolute;
      z-index: -1;
      top: 3px;
      left: 47%;

      font-family: $Oswald;
      font-size: 280px;
      line-height: 280px;
      color: $add-bg-color;
    }

    @media (min-width: $desktop-width) {
      top: -150px;
      left: 47%;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin: 0;
    padding: 151px 0 57px 0;

    font-size: 16px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
      min-width: 204px;
    }
  }

  &--health {
    &::after {
      background-image: url("../../img/index/advantages-leaf.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--simple {
    &::after {
      background-image: url("../../img/index/advantages-container.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--time {
    &::after {
      background-image: url("../../img/index/advantages-fork-knife.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--fast {
    &::after {
      background-image: url("../../img/index/advantages-clock.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
