.catalog-container {
  flex-grow: 1;
}

.catalog__title {
  margin: 0 20px 41px;
  padding: 27px 0 0;

  font-family: $Oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px;
    padding: 67px 30px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 0;
  }

  &--additional {
    margin: 0 0 36px;
    padding: 0;

    font-family: $Oswald;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: $base-text-color;

    @media (min-width: $tablet-width) {
      margin: 0 0 80px;
      padding: 0;

      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 80px;
      padding: 0;
    }
  }
}
