.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  @media (min-width: $desktop-width) {
    padding: 25px;
  }

  &--additional-product {
    margin: 0 20px;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      padding: 0;

      display: grid;
      grid-template-columns: auto auto;
      row-gap: 46px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 110px;
      grid-template-columns: auto auto auto auto;
    }
  }
}

.checkbox__label {
  position: relative;
  padding-left: 45px;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 60px;

    font-size: 20px;
    line-height: normal;
  }
}

.checkbox__mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__mark-add {
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    top: -6px;
    width: 40px;
    height: 40px;
  }
}

.checkbox__input[type="radio"]:checked + .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background: $accent-color;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: block;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__mark-add::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 30px;
  height: 30px;
  background-image: url("../../img/form/tick.svg");
  background-size: 18px 14px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    background-size: 24px 18px;
  }
}

.checkbox__headline {
  padding: 6px 0;
}
