.checkbox {
  border: 0;
}

.checkbox__list {

  margin: 0;
  padding: 0;
  list-style: none;

  &--additional-product {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.checkbox__label {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;
}
