.checkbox {
  border: 0;
}

.checkbox__list {
  padding: 0;
}

.checkbox__item {
  list-style: none;
}

.checkbox__label {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;
}
