.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;

  @media (min-width: $desktop-width) {
    padding: 25px;
  }

  &--additional-product {
    margin: 0 20px;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      padding: 0;

      display: grid;
      grid-template-columns: auto auto;
      row-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 110px;
      grid-template-columns: auto auto auto auto;
    }
  }
}

.checkbox__label {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}
