.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 168px;
    margin-top: 0;
    gap: 23px;
  }
}

.copyright__link {
  display: block;
}

.copyright__text {
  font-family: $Lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $add-text-color;

  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }
}

.copyright__link:hover path {
  fill: $accent-color;
}

.copyright__link:active path {
  fill: rgba($accent-color, 0.3);
}
