.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.copyright__link {
  display: block;

  &--text {
    width: 113px;
  }
}
