.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 168px;
    gap: 23px;
  }
}

.copyright__link {
  display: block;

  &--text {
    font-family: $Lato;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $add-text-color;
  }
}
