.example {
  background-color: $add-bg-color;
}

.example__title {
  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-text-color;
}

.example__intro {
  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
}

.example__namber {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;
}

.example__description {
  font-family: $Lato;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: $add-text-color;
  text-transform: lowercase;
}

.example__ontro {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;
}
