.example--wrapper {
  padding: 0 20px 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0 0 100px;
    background: linear-gradient(
      to top,
      #eaeaea,
      #eaeaea 462px,
      transparent 462px,
      transparent 100%
    );
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
    display: flex;
    gap: 88px;

    background: linear-gradient(
      to bottom,
      transparent,
      transparent 136px,
      $add-bg-color 136px,
      $add-bg-color 100%
    );
  }
}

.example__proofs {
  padding: 25px 0 0;

  @media (min-width: $tablet-width) {
    padding: 46px 30px 80px;

    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;

    flex-basis: min-content;

    border: 0;
  }
}

.example__title {
  margin: 0 0 40px;

  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
  }
}

.example__intro {
  margin: 0 0 34px;

  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 84px;
    width: 459px;
  }
}

.example__table-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.example__list {
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: 124px 124px;
  align-items: center;
  justify-content: center;
  gap: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 43px;
    margin: 0 10px 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 366px;
    margin: 0;
  }
}

.example__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -14px;
    width: 124px;
    height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;

    @media (min-width: $tablet-width) {
      top: -15px;
      width: 162px;
      height: 72px;
    }

    @media (min-width: $desktop-width) {
      height: 77px;
    }
  }
}

.example__number {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  padding: 0 10px 0;
  margin: 0 15px 0;

  position: relative;
  z-index: 1;
  background-color: #eaeaea;

  font-family: $Lato;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: $add-text-color;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;

    background-color: $base-bg-color;
  }

  @media (min-width: $desktop-width) {
    margin: 5px;

    background-color: $add-bg-color;
  }
}

.example__outro {
  margin: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  gap: 5px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    margin: 0;
    padding-top: 46px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
}

.example__text {
  margin: 0;

  font-family: $Oswald;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    justify-content: center;
  }
}

.example__slider {
  position: relative;

  margin: 0 auto;

  width: 280px;
  height: 260px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0;

    width: 560px;
    height: 516px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0;
  }
}
