.footer-map iframe {
  min-width: 320px;
  height: 362px;

  border: 0;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
