.footer-contacts__collaboration-notice {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.footer-contacts__address {
  font-family: $Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $add-text-color;
}

.footer-container {
  background-color: $add-bg-color;
}
