.form-dates__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--personal-contacts {
    @media (min-width: $desktop-width) {
      padding: 0 110px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.form-dates__item {
  display: flex;
}

.form-dates__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
  flex-basis: auto;
  // flex: 0 1 auto;
  // flex-grow: 0;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form-dates__input {
  padding: 14px 15px 13px 15px;
  width: auto;
  flex-grow: 1;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 11px 35px 11px 20px;

    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 37px 11px 20px;
  }

  &--mail {
    background-image: url("../../img/form/envelope.svg");
    background-repeat: no-repeat;
    background-size: 17px 13px;
    background-position-y: center;
    background-position-x: calc(100% - 12px);

    @media (min-width: $tablet-width) {
      background-position-x: calc(100% - 15px);
    }

    @media (min-width: $desktop-width) {
      background-position-x: calc(100% - 17px);
    }
  }

  &--tel {
    background-image: url("../../img/form/phone.svg");
    background-repeat: no-repeat;
    background-size: 15px 16px;
    background-position-y: center;
    background-position-x: calc(100% - 14px);

    @media (min-width: $tablet-width) {
      background-position-x: calc(100% - 15px);
    }

    @media (min-width: $desktop-width) {
      background-position-x: calc(100% - 17px);
    }
  }

  &--comment {
    margin: 0 20px;
    padding: 14px 14px;
    min-width: 280px;
    min-height: 150px;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      min-width: 628px;
      min-height: 175px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 110px;
      padding: 9px 20px;
      min-width: 1220px;
      min-height: 175px;
    }
  }
}

.form-dates__legend {
  margin: 0 0 35px 0;
  padding: 0;
  max-width: 190px;

  font-family: $Oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $base-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
    max-width: 515px;

    font-size: 36px;
    line-height: 36px;
  }

  &--comment {
    margin: 0 0 38px 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 87px 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--additional {
    margin: 0 0 34px 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 57px 0;
    }
  }
}
