.form-dates {
  border: 0;
}

.form-dates__list {
  gap: 96px;
  padding: 0;
  padding: 0;
  list-style: none;

    &--personal-contacts {
      @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
      }
    }
}

.form-dates__label {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;
}

.form-dates__input {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
  text-transform: uppercase;
}

.form-dates__legend {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $base-text-color;
}
