.main-footer--catalog,
.main-footer--form {
  background-color: $add-bg-color;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__container {
  background-color: $add-bg-color;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding: 70px 0;
  }
}
