.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

    margin: 0 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    // width: 610px;
    margin: 0 0 0 auto;
  }
}

.main-nav__list {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

  //   position: absolute;
  //   top: 68px;
  //   left: 0;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   min-width: 320px;
  //   background-color: $base-bg-color;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 33px;
  }
}

// .main-nav--closed .main-nav__list {
//   @media (min-width: $mobile-width-only) {
//     display: none;
//   }
// }

// .main-nav--opened .main-nav__list {
//   @media (min-width: $mobile-width-only) {
//     display: block;
//   }
// }

// .main-nav__item {
//   @media (min-width: $mobile-width-only) {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     padding: 22px 0 24px 0;
//     border-bottom: 1px solid #e6e6e6;

//     &:first-child {
//       border-top: 1px solid #e6e6e6;
//     }
//   }
// }

.main-nav__link {
  font-family: $Oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;
}
