.main-header--wrapper {
  display: flex;
  align-items: center;
}

.main-header__logos {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 10px;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding: 55px 0 0 0;
    border: 0;
  }
}

.main-header__logo-icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    width: 60px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    margin-right: 14px;
  }
}
