.main-nav--wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

    margin: 0 0 0 auto;
    padding: 0 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0 0 0 auto;
    padding: 55px 110px 0 0;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;

      background-image: linear-gradient(
          rgba($accent-color, 0.85),
          rgba($accent-color, 0.85)
        ),
        url("/img/index/index-cat-bg-desktop.png"),
        linear-gradient(rgba(50, 68, 39, 1), rgba(79, 81, 78, 1));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba($accent-color, 0.85),
            rgba($accent-color, 0.85)
          ),
          url("/img/index/index-cat-bg-desktop@2x.png"),
          linear-gradient(rgba(50, 68, 39, 1), rgba(79, 81, 78, 1));
        background-size: cover;
      }
    }
  }
}

@media (min-width: 240px) and (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $base-bg-color;
    cursor: pointer;
    border: 0;
  }

  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }

  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: -20px;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
    position: relative;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: flex;
  }
}

.main-nav__list {
  position: absolute;
  z-index: 1;

  top: 70px;

  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: $base-bg-color;

  @media (min-width: 240px) and (max-width: 320px) {
    left: 0;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: $tablet-width) {
    position: static;
    padding: 0;

    display: flex;
    gap: 33px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    background: transparent;
    position: static;
    padding: 0;

    display: flex;
    gap: 32px;
    width: 475px;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  padding: 22px 20px 24px 20px;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 33px;
    border: 0;
    padding: 0;
  }
}

.main-nav__link {
  font-family: $Oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--current {
    @media (min-width: 240px) and (max-width: $tablet-width) {
      color: $accent-color;
    }

    @media (min-width: $tablet-width) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        bottom: -10px;
        height: 2px;
        background-color: $accent-color;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $base-bg-color;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
