.product__list {
  display: grid;
  grid-template-columns: auto;
  margin: 0 20px;
  padding: 0;
  list-style: none;

    @media (min-width: $tablet-width) {
      grid-template-columns: 324px 342px;
      gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 245px 245px 245px 245px;
      gap: 80px 63px;
    }

    &--additional {
      @media (min-width: $tablet-width) {
        grid-template-columns: auto;
      }
    }
}

.product__title {
  margin: 0;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.product__text {
  margin: 0;
}

.product__term {
  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: $add-text-color;

  &--additional {
    font-size: 14px;
    line-height: 14px;
  }
}

.product__description {
  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  color: $add-text-color;

  &--additional {
    font-size: 14px;
    line-height: 14px;
  }
}

.product__title-secondary {
  margin: 0;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.product__slogan {
  margin: 0;

  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $add-text-color;
}
