.product__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: auto;

  &--additional {
    margin: 0 20px;
    padding: 13px 0 19px;

    grid-template-columns: auto;

    @media (min-width: $tablet-width) {
      margin: 0 20px;
      padding: 13px 0 19px;

      grid-template-columns: auto;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 342px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px 63px;
  }
}

.product__item {
  padding: 20px 20px 25px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 107px 40px;
  row-gap: 17px;

  border-bottom: 1px solid #d9d9d9;

  &--additional {
    margin: 0;
    padding: 13px 0 19px 0;

    grid-template-rows: auto auto auto;

    &:first-child {
      border-top: 1px solid #d9d9d9;
    }
  }

  &--secondary--more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.product__card {
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.product__title {
  margin: 0;
  width: 76px;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;

  &--additional {
    width: 100%;
    grid-column: 1/-1;

    line-height: 16px;
  }

  &--secondary--more {
    margin: 0 0 8px;
    padding: 78px 20px 0;
    width: auto;

    font-family: $Oswald;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #111111;
    text-transform: uppercase;
  }
}

.product__text {
  margin: 0;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  &--additional {
    grid-column: 1/-1;
  }
}

.product__term {
  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: $add-text-color;

  &--additional {
    font-size: 14px;
    line-height: 14px;
  }
}

.product__description {
  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  color: $add-text-color;

  &--additional {
    font-size: 14px;
    line-height: 14px;
  }
}

.button--buy {
  grid-column: 1/-1;
}

.product__slogan {
  margin: 0 0 21px;
  padding: 0 20px;
  width: auto;

  font-family: $Lato;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $add-text-color;
}
