.programm {
  margin: 0 20px;
}

.programm__list {
  margin: 0;
  padding: 0;
}

.programm__item {
  list-style: none;

  background-color: $add-bg-color;
}

.programm__title {
  margin: 0;

  font-family: $Oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-text-color;
  text-transform: uppercase;
}

.programm__description {
  margin: 0;

  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;
}

.programm__link {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-text-color;
  text-transform: uppercase;
}
