.programm-select__wrapper-with-main-dates {
  @media (min-width: $desktop-width) {
    margin: 0 110px 70px;

    display: flex;
    justify-content: space-between;
  }
}

.programm-select__personal-dates {
  margin: 0;
  padding: 0 0 24px 0;

  border: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    width: 570px;
  }
}

.programm-select__aim {
  margin: 0;
  padding: 22px 20px 19px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  border-right: 0;
  border-left: 0;

  @media (min-width: $tablet-width) {
    margin: 0 70px 50px;
    padding: 23px 27px;

    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    width: 570px;
  }
}

.programm-select__personal-contacts {
  margin: 0;
  padding: 0;
  display: block;

  border: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
  }
}

.programm-select__perconal-notice {
  margin: 0;
  padding: 0;
  display: block;

  border: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
  }
}

.programm-select__additional {
  margin: 0 0 34px;
  padding: 0;

  border: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px;
  }
}
