.programm--wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding-bottom: 71px;
  }
}

.programm__list {
  display: grid;
  grid-template-columns: auto;
  gap: 23px;
  margin: 0;
  padding: 0 0 0 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    gap: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 570px 570px;
    gap: 80px;
    padding-bottom: 0;
  }
}

.programm__item {
  background-color: $add-bg-color;

  &::before {
    content: "";
    margin: 24px 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $accent-color;
    float: left;

    @media (min-width: $tablet-width) {
      margin: 92px 65px 0 53px;

      width: 200px;
      height: 200px;
      float: right;
    }

    @media (min-width: $desktop-width) {
      margin: 47px 62px 0 52px;

      width: 100px;
      height: 100px;
      float: left;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }

  &--slim {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 25px;
      width: 36px;
      height: 50px;
      background-image: url("../../img/index/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-width: $tablet-width) {
        top: 81px;
        left: auto;
        right: 93px;
        width: 140px;
        height: 194px;
      }

      @media (min-width: $desktop-width) {
        top: 41px;
        left: 62px;
        right: auto;
        width: 70px;
        height: 97px;
      }
    }
  }

  &--pro {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 11px;
      width: 67px;
      height: 28px;
      background-image: url("../../img/index/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-width: $tablet-width) {
        top: 135px;
        left: auto;
        right: 28px;
        width: 268px;
        height: 112px;
      }

      @media (min-width: $desktop-width) {
        top: 67px;
        left: 33px;
        right: auto;
        width: 134px;
        height: 56px;
      }
    }
  }
}

.programm__title {
  margin: 0 0 29px 0;
  padding: 30px 20px 0;

  font-family: $Oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    padding: 77px 0 0 53px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 0;
    padding: 77px 52px 0 0;

    font-size: 36px;
    line-height: 36px;
  }
}

.programm__description {
  position: relative;
  margin: 0 33px 0 20px;
  padding: 0 0 23px;

  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $add-text-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 0;
    padding: 0 316px 0 52px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px 0;
    padding: 0 50px 0 52px;

    font-size: 15px;
    line-height: 24px;
  }
}

.programm__link {
  display: flex;
  align-items: center;

  padding: 18px 20px 20px 20px;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-text-color;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0 53px 0;

    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    padding: 0 52px 0;

    font-size: 20px;
    line-height: normal;
  }
}

.programm__link-text {
  width: fit-content;
}

.programm__icon {
  margin-left: 15px;
  height: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}
