.promo__description {
  margin: 0 auto 43px;
  padding: 186px 20px 0;
  width: 161px;

  font-family: $Lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-bg-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
    padding: 71px 125px 69px;
    width: 161px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 185px 42px 43px;
    width: 161px;

    text-align: center;
  }
}
