.slider__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  background: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(
      to bottom,
      $base-bg-color,
      $base-bg-color 155px,
      #eaeaea 155px,
      #eaeaea 100%
    );
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(
      to bottom,
      $base-bg-color,
      $base-bg-color 136px,
      $add-bg-color 136px,
      $add-bg-color 100%
    );
  }

  &--before {
    z-index: 2;

    overflow: hidden;

    width: 50%;
  }

  &--after {
    z-index: 1;
  }
}

.slider__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__delimiter {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;

  border-radius: 2px;
  background-color: #666666;

  &:hover {
    background-color: $accent-color;
  }

  &:active {
    background-color: rgba($accent-color, 0.3);
  }
}
