.social__wrapper {
  width: 280px;
  margin: 0 20px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
    margin: 0 20px 0 60px;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin: 22px 0 16px;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.social__link:hover path {
  fill: $accent-color;
}

.social__link:active path {
  fill: rgba($accent-color, 0.3);
}
