.social-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.social__link:hover path {
  fill: $accent-color;
}

.social__link:active path {
  fill: rgba($accent-color, 0.3);
}
