.button {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-bg-color;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  background-color: $accent-color;
  cursor: pointer;
}

.button--secondary {
  color: $add-text-color;
  background-color: $add-bg-color;
}
