.button {
  padding: 10px 10px;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $base-bg-color;
  text-decoration: none;
  text-transform: uppercase;

  border: 0;
  background-color: $accent-color;
  cursor: pointer;
}

.button--secondary {
  color: $add-text-color;
  background-color: $add-bg-color;
}

.button--form-post {
  min-width: 100%;

  @media (min-width: $tablet-width) {
    padding: 14px 45px;
    min-width: 284px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 188px;
    min-width: 570px;
  }
}

.button--slider {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  min-width: 40px;
  min-height: 40px;

  border: 2px solid #666666;
  border-radius: 50%;
  background-color: $base-bg-color;

  background-image: url("../../img/index/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
