// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;

$base-bg-color: #ffffff;
$accent-color: #68b738;
$add-bg-color: #f2f2f2;

$base-text-color: #000000;
$add-text-color: #444444;

$Oswald: "Oswald", sans-serif;
$Lato: "Lato", sans-serif;
